body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(145, 145, 145, 0.3);

}

h1 {
  display: flex;
  justify-content: center;
  font-family: Arial;
}

div {
  display: flex;
  justify-content: center;
}

section {
  margin: 0px;
  display: flex;
  width: 1050px;
  justify-content: space-between;
  /*border: 5px dashed black;*/
}

input {
  border-color: 2px solid black;
  margin: 20px;
  box-shadow: 10px 10px 5px;
  width: 300px;
  height: 300px;
}

ul {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  column-count: 4;
}

li {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Helvetica, sans-serif;
}

canvas {
  font-size: 12px;
}

.displayEdits {
  border-color: 2px solid black;
  margin: 20px;
  box-shadow: 3px 3px 1px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.border {
  border: 5px dashed black;
  border-left: none;
  margin-left: 0px;
}

#b1 {
  border-left: 5px dashed black;
}

#b2 {
  border-right: none;
}

#b3 {
  border-left: 5px dashed black;
}

#clickTotal {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#centerChart {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#chart {
  width: 1000px;
  height: 600px;
}
